.pagination-block {
    margin-top: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.buttons button{
    font-size: 15px;
    font-weight: 600;
    color: lightgray;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    background: #676767;
    transition: all .5s;
}

.buttons > button:hover, .buttons > button:disabled {
    background: #af4d39;
}