.navbar {
    padding: 6px 60px;
    background-color: rgba(49, 49, 40, 0.89);
    /*background-color: rgba(47, 18, 58, 0.89);*/
}

.logo {
    font-size: 28px;
    font-weight: 800;
    color: #168c8c;
    letter-spacing: .2em;
}

.burger {background-color: #565151;}