.list-inline-item .btn-outline-info {
    color: #9f9f9f;
    border: 1px solid #9f9f9f;
    margin-bottom: 15px;
    border-radius: 25px;
    font-weight: 600;
}

.list-inline-item .btn-outline-info:hover{
    color: #ca563f;
    border-color: #ca563f;
    background-color: transparent;
    transition: all 0.3s  ease-in-out;
}