.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.card a {
    color: lightgray;
    text-decoration: none;
    font-weight: 700;
}

.card-footer:hover{
    color: #ca563f;
}